{% extends "base.html" %}
{% block content %}
    <div class="flex justify-center mt-5 rounded-md">
        <div class="grid grid-cols-3 h-full bg-yellow-300">
            <div class=" flex flex-col bg-indigo-100 p-10">
                <div class="w-10 h-10 rounded-full bg-yellow-300"></div>
                <div class="flex flex-col space-y-2 mt-8">
                    <div>
                        <p class="font-bold">Username</p>
                        <p class="font-semibold">{{ user.username }}</p>
                    </div>
                    <div>
                        <p class="font-bold mt-5">Email</p>
                        <p class="font-semibold">{{ user.email }}</p>
                    </div>
                    <div class="flex justify-start mx-5 my-2">


                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button class="text-sm cursor-pointer flex justify-center
                rounded-md bg-red-600 mt-2 px-5 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                                    type="submit">Log Out
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-span-2 p-10">
                <p class="font-bold font-sans">Choose the chat room</p>
                <div class="w-full h-80 scroll-smooth
                no-scrollbar scroll-snap-y-container overflow-auto p-1 focus:overscroll-contain">
                    {% for room in rooms %}
                        <a class="text-indigo-700 font-semibold"
                           href="{% url 'chat_room' room.name %}">
                            <div class="bg-yellow-300 p-1 cursor-pointer hover:bg-yellow-400 rounded-md my-1">
                                {{ room.name }}
                            </div>
                        </a>
                    {% endfor %}
                </div>
                <div class="flex justify-end">
                    <div class="w-1/3">
                        <a class="cursor-pointer flex w-full justify-center rounded-md bg-indigo-600 mt-2 px-4 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                           href="{% url 'create_room' %}"> Create Room</a>
                    </div>

                </div>
            </div>


        </div>
    </div>
{% endblock %}


