{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="flex flex-col min-h-full justify-center px-6 py-12 ">
        <div class="bg-yellow-300 sm:mx-auto sm:w-full sm:max-w-sm p-10 rounded-xl">
            <div class="h-10">
                <h2 class="text-blue-600 font-bold ">Live Chat Login</h2>
            </div>
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="flex flex-col space-y-2">
                    <div class=" font-semibold">
                        {{ form.username.label_tag }}
                    </div>
                    <div>
                    </div>
                    <input name="username"
                           class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    <div class="flex justify-between">
                        <div class=" font-semibold">
                            {{ form.password.label_tag }}
                        </div>
                        <div class="font-semibold text-indigo-600">
                            <a href="{% url 'password_reset' %}">Lost password</a>
                        </div>
                    </div>
                    <div>
                        <input name="password" type="password"
                               class="block w-full mt-1.5 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                    <div class="flex w-full  justify-center items-center">
                        <div class="w-1/2 px-5">
                            <input class="cursor-pointer flex w-full justify-center rounded-md bg-indigo-600 mt-2 px-4 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                                   type="submit" value="login">
                            <input type="hidden" name="next" value="{{ next }}">
                        </div>
                        <div class="w-1/2 px-5">
                            <a href="{% url 'create_user' %}"
                               class="cursor-pointer flex w-full
                                justify-center rounded-md bg-green-600 mt-2 px-4 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                            >Sign up</a>
                        </div>
                    </div>
                </div>
            </form>
            <div class="flex justify-center mt-2">
                <div class="font-semibold text-red-600 hover:text-red-600">
                    {% if form.errors %}
                        <p>Your username and password didn't match. Please try again.</p>
                    {% endif %}
                    {% if next %}
                        {% if user.is_authenticated %}
                            <p>Your account doesn't have access to this page. To proceed, please login with an
                                account that has access.</p>
                        {% else %}
                            <p>Please login to see this page.</p>
                        {% endif %}
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}
